<script>
    const btns = document.getElementsByClassName('theme-switch')
    for (let btn of btns) {
        btn.addEventListener('click', (event) => {
            const isDark = document.getElementsByTagName("body")[0].getAttribute("a") === "dark"
            if (isDark) {
                document.getElementsByTagName("body")[0].setAttribute("a", "light")
                btn.innerHTML = "dark"
            } else {
                document.getElementsByTagName("body")[0].setAttribute("a", "dark")
                btn.innerHTML = "light"
            }
        })
    }
</script>